<h1>Enter sentence here</h1>
<form action="/WordCounter" method="post">
  <label for="inputWord">Word:</label>
  <input id="inputWord" name="inputWord" type="text" required>
  <label for="inputSentence">Sentence:</label>
  <input id="inputSentence" name="inputSentence" type="text" required>
  <button type="submit">Count Word</button>
</form>
