@{
  Layout = "_Layout";
}


<h1>Enter sentence here</h1>
<form action="/WordCount" method="post">
  <label for="inputWord">Word:</label>
  <textarea id="inputWord" name="inputWord" type="text" required></textarea>
  <label for="inputSentence">Sentence:</label>
  <textarea id="inputSentence" name="inputSentence" type="text" required></textarea>
  <button type="submit">Count Word</button>
</form>
