@{
  Layout = "_Layout";
}


<h1>Enter info here</h1>
<form action="/WordCount" method="post">
  <label for="inputWord">Word:</label><br>
  <input id="inputWord" name="inputWord" type="text" required><br>
  <label for="inputSentence">Sentence:</label><br>
  <textarea id="inputSentence" name="inputSentence" type="text" required></textarea><br>
  <br>
  <button type="submit">Count Word</button>
</form>
