@{
  Layout = "_Layout";
}
<div class="grid">
  <div class="header">
    <h1>To Do List</h1>
  </div>
  <div class="left">
    <h3 id="view"><a href='/categories'>View categories</a></h3>
  </div>
  <div class="right">
    <h3 id="category"><a href='/categories/new'>Add a new category</a></h3>
  </div>
</div>
