<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <!-- This page is our general layout.  Below we RenderBody in order for all our views to be placed within this body section.  This way we are able to introduce link elements and static files. -->
  <body>
      @RenderBody()
      <div class="image">

      </div>
  </body>
</html>
