body{
  font-family: Monospace;
  font-weight: bold;
  text-align: center;
  background-image: url(../../img/Tapping.gif);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 30%;
  background-color: #a0986899;
}
h2
{
  color: red;
}
h4
{
  text-decoration: underline;
}

h3
{
 border-style: solid;
 background: #F3FA9E;
 text-align: center;
 font-size: 25px;
 border-radius: 25px;
 box-shadow: 3px 5px #ABD6D7;
}

#inputWord, #inputSentence
{
  background-color: #ABD6D7;
}

button
{
  position: relative;
  bottom: 10px;
}
